In [7]:
import pandas as pd
import numpy as np
import random
from random import randrange

In [11]:
id_list = [x for x in range(1, 5000)]
opinions = ['Read', 'Skipped']
tags = ['tech', 'games', 'dc', 'marvel', 'movies', 'series', 'netflix', 'crypto', 'finances']
words = [randrange(100, 1000, 50) for x in range(0, len(id_list)+1)]
published_in = [randrange(0, (365 * 2)) for x in range(0, len(words)+1)]
fonts = ['Twitter', 'Instagram', 'Youtube', 'G1', 'BBC', 'google', 'others']

In [89]:
class generator:    
    _opinions = ['Read', 'Skipped']
    
    _tags = ['Tech', 'Games', 'DC', 'Marvel', 'Movies', 'Series', 'Netflix', 'Crypto', 'Finances']
    
    _words = [randrange(100, 1000, 50) for x in range(0, len(id_list)+1)]
    
    _published_in = [randrange(0, (365 * 2)) for x in range(0, len(words)+1)]
    
    _fonts = ['Twitter', 'Instagram', 'Youtube', 'G1', 'BBC', 'Google', 'Others']
    
    def gen_line(self, tag='', font='', max_publication_days=-1, min_publication_days=-1, opinion='', word_max=-1, word_min=-1):
        if (tag == ''):
            tag = self._tags[randrange(0, len(self._tags), 1)]
            
        if (font == ''):
            font = self._fonts[randrange(0, len(self._fonts), 1)]
            
        if (opinion == ''):
            opinion = self._opinions[randrange(0, 2)]
            
        publication = 0
        if (max_publication_days == -1):
            if (min_publication_days == -1):
                publication = self._published_in[randrange(0, len(self._published_in))]
            else:
                publication =  self._published_in[randrange(min_publication_days, len(self._published_in))]
        else:
            if (min_publication_days == -1):
                publication = randrange(0, max_publication_days)
            else:
                publication = randrange(min_publication_days, max_publication_days)
        
        word = 0
        if (word_min == -1):
            if (word_max == -1):
                word = self._words[randrange(0, len(self._words))]
            else:
                word = self.words[randrange(0, word_max)]
        else:
            if (word_max == -1):
                 word = randrange(word_min, len(self._words), 50)
            else:
                 word = randrange(word_min, word_max, 50)
            
        line = {'tag':[tag], 'days_since_published':[publication], 'font':[font], 'word_count':[word]}
        df = pd.DataFrame(data=line)
        return df
    def gen_tendency_lines(self, tag='', font='', word_count_min = -1, word_count_max = -1, max_publication_date=-1, min_publication_date=-1, n=600):
        op = 'Read'
        tag = self._tags[randrange(0, len(self._tags))]
        line_list = []
        
        # generates biased line
        for i in range(0, n):
            line = self.gen_line(tag, font, max_publication_date, min_publication_date, op, word_count_max, word_count_min)            
            line_list.append(line)
        
        # generetades unbiased lines
        for i in range(0, n*randrange(4, 9)):
            line = self.gen_line()
            line_list.append(line)
        
        ids = [x for x in range(1, len(line_list)+1)]
        id_df = pd.DataFrame(data={'id':ids})
        result = pd.concat(line_list, ignore_index=True)
        result = pd.concat([id_df, result], axis=1)
        
        return result

In [90]:
my_gen = generator()

In [91]:
m_line = my_gen.gen_line(tag='Tech', max_publication_days=150, min_publication_days=0,font='Youtube',word_max=200, word_min=150,opinion='Read')
m_line

    tag  days_since_published     font  word_count
0  Tech                    71  Youtube         150

In [86]:
my_line = my_gen.gen_line()
my_line

  tag  days_since_published     font  word_count
0  DC                   701  Twitter         200

In [71]:
df_list = [m_line, my_line]
df_list

[    tag  days_since_published     font  word_count
 0  tech                    53  Youtube         150,
   tag  days_since_published       font  word_count
 0  DC                   246  Instagram         800]

In [75]:
d = m_line
for frame in df_list:
    d

    tag  days_since_published       font  word_count
0  tech                    53    Youtube         150
1    DC                   246  Instagram         800

In [92]:
df = my_gen.gen_tendency_lines(tag='Tech')

In [93]:
df

        id      tag  days_since_published       font  word_count
0        1     Tech                     1  Instagram         450
1        2     Tech                   546  Instagram         100
2        3     Tech                   695    Youtube         850
3        4     Tech                   723    Youtube         200
4        5     Tech                   552    Youtube         850
...    ...      ...                   ...        ...         ...
4195  4196     Tech                   654        BBC         400
4196  4197   Marvel                   638         G1         650
4197  4198   Crypto                   248    Twitter         600
4198  4199  Netflix                   557     Google         900
4199  4200    Games                   399        BBC         700

[4200 rows x 5 columns]

In [94]:
df.to_csv('saitama.csv')